extends ../shared/template

block content
  include ../shared/navbar

  h1 Welcome Student

  #studentDiv

    #coursesList
    
      each course in courses
        .course
          a(href='/courses/#{course._id.toString()}') #{course.title}
