extends ../shared/template

block content
  #logoMain

  #splash-login
    #testDivButton
      button.teacher Teacher
      button.student Student


block scripts
  script(src='/js/es6/compiled/login.js')
