extends ../shared/template

block content

  #home-container
    #logo-main

    #splash-login
      button.teacher Teacher
      button.student Student

    #description
      h3 An LMS designed and created by a bunch of yahoos...Smart yahoos.


block scripts
  script(src='/js/es6/compiled/login.js')
