extends ../shared/template

block content
  h1 StudyBUDDY

  #splash-login
    .teacher-login
    .student-login

  #testDivButton
    button TEST

    button.round TEST 2

    button.teacher Teacher
    button.student Student

  #testDiv
    p This is a test div....
    p These are different lines of text to view different colors.
    p This is another line of text
    #innerTestDiv1
      p This is another test div with a different color scheme
