extends ../shared/template

block content
  h1 Study Buddy

  #splash-login
    .student-login
      a(href='/login?type=student')
        button I'm a Student
    .teacher-login
      a(href='/login?type=teacher')
        button I'm a Teacher
