extends ../shared/template

block content
  link(href='/less/override.css', rel='stylesheet')
  #logoMain

  #splash-login
    #testDivButton
      button.teacher Teacher
      button.student Student

  #description
    h3 An LMS designed and created by a bunch of yahoos...Smart yahoos.


block scripts
  script(src='/js/es6/compiled/login.js')
