extends ../shared/template

block content
  form#login(action='/login' method='POST')
    h4 User Name:
    input.email(type='email' name='email' placeholder='Email')
    h4 Password:
    input.password(type='password' name='password', placeholder='Password')
    input.login-type(type='hidden' name='loginType' value='#{loginType}')
    button#submitUser Submit
