extends ../shared/template

block content
  .testDivButton
    form(action='/login' method='POST')
      input.email(type='email' name='email' placeholder='Email' autofocus=true)
      input.password(type='password' name='password')
      input.login-type(type='hidden' name='loginType' value='#{loginType}')
      button Submit
