extends ../shared/template

block content
  include ../shared/navbar
  h1 teachers/index

  button#createCourse Create Course

  #courses
<<<<<<< HEAD
=======

block scripts
  script(src='/js/es6/compiled/teachers.js')
>>>>>>> alex-dev
