extends ../shared/template

block content
  h1 courses/new

  form#courseCreate(action='/courses', method='post')

    input#title(input='text', name='title', autofocus=true, placeholder='course name')
    input#video(input='url', name='videoURL' placeholder='video url')

    button.add Add A Question

    #questions
      .questionField
        input.question(input='text', name='question', placeholder='write your question here')
        input.answer1(input='text', name='correct', placeholder='correct answer')
        input.answer2(input='text', name='incorrect1', placeholder='wrong answer')
        input.answer3(input='text', name='incorrect2', placeholder='wrong answer')
        input.answer4(input='text', name='incorrect3', placeholder='wrong answer')

    button#submit Submit Test
