extends ../shared/template

block content
  h1 courses/new

  form#course
  input#title(input='text', autofocus=true, placeholder='course name')
  input#video(input='url', placeholder='video url')
  
