extends ../shared/template

block content
  h1 New Course

  form#courseCreate(action='/courses', method='post')
    
    input#title(input='text', name='title', autofocus=true, placeholder='course name')
    input#video(input='url', name='videoURL' placeholder='video url')

    button.add Add A Question

    #questions
      .questionField
        input.questions(input='text', name='questions', placeholder='write your question here')
        input.answers1(input='text', name='correct', placeholder='correct answer')
        input.answers2(input='text', name='wrong1', placeholder='wrong answer')
        input.answers3(input='text', name='wrong2', placeholder='wrong answer')
        input.answers4(input='text', name='wrong3', placeholder='wrong answer')

    button#submit Submit Test
