form#course-create(action='/courses', method='post')
  h1 New Course

  input#title(input='text', name='title', autofocus=true, placeholder='Course Title')

  #study-materials
    h2 Study Materials

    h3 Video
    input#video(input='url', name='videoURL' placeholder='Youtube URL')

    h3.flashcard-header Flashcards

    #flashcards
      .flashcard-field
        textarea.sideA(name='sideA', placeholder='Side A')
        textarea.sideB(name='sideB', placeholder='Side B')
        button.delete-flashcard Remove Flashcard

    button.add-flashcard Add A Flashcard

  #test-create
    h2 Questions & Answers
    button.add-question Add A Question

    #questions
      .question-field
        input.questions(input='text', name='questions', placeholder='Question')
        input.answers1(input='text', name='correct', placeholder='Correct Answer')
        input.answers2(input='text', name='wrong1', placeholder='Wrong Answer')
        input.answers3(input='text', name='wrong2', placeholder='Wrong Answer')
        input.answers4(input='text', name='wrong3', placeholder='Wrong Answer')
        button.delete-question Remove Question


  button#submit-course Create Course
