extends ../shared/template

block content
  h1.course(data-id=course._id)= course.title

  nav#courseNav
    h4 Study Materials
      ul
        li.video Video
        li Flashcards

    h4 Test

  #course
