extends ../shared/template

block content
  include ../shared/navbar

  h1.course(data-id=course._id.toString())= course.title

  nav#courseNav
    h4 Study Materials
      ul
        li.video Video
        li Flashcards

    h4.test Test

  #course

block scripts
  script(src='/js/es6/compiled/courses.js')
