h1 Test

form#test
  each question in course.test
    #question
      p= question.question
      #answers
        each answer in question.answers
          #answer
            input(type='radio', name=question.question, value=answer)
            span= answer
